body {
	color: #fff;
	font-size: 16px;
}

section {
	margin: 20px 0 30px 0;
}

.well {
	overflow: auto;
}

.jumbotron {
	background: #bf5a16;
}

/*Main Carousel*/
.carousel {
	min-height: 500px;
	margin-bottom: 60px;
}

/*Carousel Caption*/
.carousel-caption {
	z-index: 10;
	text-align: left;
	top: 70px;
	right: 10%;
	left: 10%;
	font-size: 22px;
}

.carousel .item {
	height: 500px; 
	background-color: #777;
}

.carousel-inner > .item > img {
	position: relative;
	top: 0px;
	left: 0;
	min-width: 100%;
	height: 500px;
}

/*On larger screens this comes to the edge of it's Div ?*/
.server-image {
	position: relative;
	top: -50px;
	width: 100%;
}

.feature-list {
	list-style: none;
}

/*Marketing Section*/
.marketing {
	text-align: center;
}

.marketing h2 {
	font-weight: normal;
}

/*Price Table Section */
.price strong {
	font-size: 32px;
}